<div class="grid-block align-center">
	<div class="grid-block grid-page-content">
		<div class="grid-content">
			
			<div class="grid-block" v-if="snippetDataStatus=='loading'">
				<div class="grid-content">
					<div class="grid-block align-center">
						<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
					</div>
				</div>
			</div>


			<div v-show="snippetDataStatus=='loaded'">
					
				<h1 v-if="isSearch">Search results for "<span class="o-text--strong">{{ searchText }}</span>"</h1>
				<p class="o-text--info"><span class="o-text--strong"><i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>Heads up!</span> This feature is not yet completely implemented, so what we have is a random list of snippets.</p>
				<!--List of snippets-->
				<ul class="c-snippets">

					<li class="c-snippet" v-for="snippet in snippets">
						<!--Snippet code -->
						<pre><code class="php c-snippet__code">{{ snippet.snippetCode }}</code></pre>

						<div class="c-snippet__readme">

							<!--Readme meta-->
							<div class="c-snippet__readme-meta">
								<div class="c-snippet__readme-meta-title">
									<span><router-link :to="'/snippet/' + snippet.snippetId">#{{snippet.snippetId}}</router-link> in </span>
									<span class="mdl-chip">
										<span class="mdl-chip__text">
											{{snippet.tag1}}
										</span>
									</span>
									<span class="mdl-chip">
										<span class="mdl-chip__text">
											{{snippet.tag2}}
										</span>
									</span>
									<span class="mdl-chip">
										<span class="mdl-chip__text">
											{{snippet.tag3}}
										</span>
									</span>
								</div>
								<span>by <router-link :to="'/user/' + snippet.userId">#{{ snippet.userId }}</router-link></span>
								<!--<a href="#" v-on:click.prevent="starSnippet(snippet.snippetId)">Star it</a>-->
							</div>

							<!--Readme text in markdown-->
							<div v-html="snippet.readme" class="c-snippet__readme-text"></div>
						</div>
					</li>
				</ul>
			</div>

			<div v-show="snippetDataFromGithubStatus == 'loaded'" style="margin-top: 6rem">
				<h1>GitHub search results for "<span class="o-text--strong">{{ searchText }}</span>"</h1>
				<p class="o-text--info"><span class="o-text--strong"><i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>Heads up!</span> GitHub API limits the number of requests coming from a given unauthenticated source, which means you may experience disconnection in case of high traffic.</p>

				<!--List of snippets-->
				<ul class="c-snippets">

					<li class="c-snippet" v-for="snippet in snippetsFromGithub">
						<!--Snippet code -->
						<pre><code class="php c-snippet__code c-snippet__code--condensed">{{ snippet.snippetCode }}</code></pre>

						<div class="c-snippet__readme">

							<!--Readme meta-->
							<div class="c-snippet__readme-meta">
								<div class="c-snippet__readme-meta-title">
									<span><a v-bind:href="snippet.snippetUrl" target="_blank">GitHub Gist</a> in </span>
									<span class="mdl-chip">
										<span class="mdl-chip__text">
											{{ searchText }}
										</span>
									</span>
									<span class="mdl-chip">
										<span class="mdl-chip__text">
											GitHub
										</span>
									</span>
									<span v-if="snippet.userUrl !== ''">by <a v-bind:href="snippet.userUrl" target="_blank">#{{ snippet.userId }}</a></span>
								</div>
								<div>
									<i class="fa fa-clipboard c-nav-icon-button" aria-hidden="true" v-on:click="showInDevelopmentSnackbar()"></i>
									<i class="fa fa-star c-nav-icon-button" aria-hidden="true" v-on:click="showInDevelopmentSnackbar()"></i>
									<i class="fa fa-expand c-nav-icon-button" aria-hidden="true" v-on:click="showInDevelopmentSnackbar()"></i>
								</div>
								<!--<a href="#" v-on:click.prevent="starSnippet(snippet.snippetId)">Star it</a>-->
							</div>

							<!--Readme text in markdown-->
							<div v-html="snippet.readme" class="c-snippet__readme-text"></div>
						</div>
					</li>
				</ul>

			</div>

			
		</div>
	</div>

	<!-- Toast snackbar -->
	<div id="feature-in-development" class="mdl-js-snackbar mdl-snackbar">
		<div class="mdl-snackbar__text"></div>
		<button class="mdl-snackbar__action" type="button"></button>
    </div>
</div>