<div class="grid-block align-center">
	<div class="grid-block vertical medium-6">

		<!--Push notification-->
		<div class="grid-block">
			<div class="grid-content">
				<div class="card card-section">
					<h1>Push notification</h1>
					<p>To simulate how desktop notifications work, here you can push yourself some.</p>
					<label for="notifDelay">Set a timer in seconds</label>
					<input type="text" id="notifDelay" v-model="formNotifDelay" placeholder="Set timer in seconds" autofocus="autofocus">
					<label for="notifMessage">Enter your notification message</label>
					<input type="text" id="notifMessage" v-model="formNotifMessage" placeholder='What would you like to see?'>
					<a href="#" class='button' v-on:click.prevent="notifyMe()">Push notification</a>
				</div>
			</div>
		</div>

		<!--Notifications-->
		<div class="grid-block">
			<div class="grid-content">
				<div class="card card-section">
					<h1>Notifications</h1>
					<p>Here you can see the list of your notifications.</p>



					<!--Loading data -->
					<i class="fa fa-cog fa-spin fa-2x fa-fw" v-if="dataStatus=='loading'"></i>

					<!--Loaded data -->
					<div v-if="dataStatus=='loaded'">
						<a href="#" v-on:click.prevent="deleteNotifications($event)" class="button">Delete all notifications</a>
						<ul v-if="notifications.length > 0">
							<li v-for="notif in notifications"> {{ notif }} </li>
						</ul>
						<p v-if="notifications.length == 0">Currently you have no notifications. Why not push one?</p>
					</div>

					<!--Failed data-->
					<div v-if="dataStatus=='failed'">
						<p>Something went wrong, sorry. Try to refresh.</p>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>