<div class='grid-block align-center'>
	<div class="grid-block grid-page-content align-center">
		<div class="grid-content grid-content--narrow">
            <div class="c-card" v-if="!isRegistrationSuccesful">
                <h1>Signup for Developer Preview</h1>
                <p>The Developer Preview is a very early stage of the application where enthusiastic and curious visitors can try out the prototype on the fly and participate in its evolution. Users can delete their accounts anytime.</p>
                <form action="" id="signupform" v-on:submit.prevent="signupUser">
                    <!--Display name (user name-->
                    <label for="signupform__username">Select your display name. We like full names around here. You can change this later.</label>
                    <input type="text" placeholder="Type your display name..." v-model="signupform__username" required="required">

                    <!--Email-->
                    <label for="signupform__email">Type your e-mail</label>
                    <input type="email" placeholder="Type your email..." v-model="signupform__email" id="signupform__email" required="required">

                    <!--Password-->
                    <label for="signupform__password">Type your password</label>
                    <input type="password" placeholder="Type your password..." v-model="signupform__password" id="signupform__password" required="required">

                    <!--Password again-->
                    <label for="signupform__password2">Type your password again</label>
                    <input type="password" placeholder="Type your password again..." v-model="signupform__password2" id="signupform__password2" required="required">

                    <!--Error message-->
                    <p class="o-text--error">{{ errorMsg }}</p>

                    <!--Terms and conditions-->
                    <p>
                        <input type="checkbox" required="required">
                        I accept that all my data will be public during the Developer Preview, may be removed and I may have to accept the terms of agreement in order to continue using Foobarbot once the Developer Preview state ends.
                    </p>

                    <!--Submit-->
                    <input type="submit" value="Signup" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored c-button--flat">
                </form>
                <hr>
                <p>Already a member? <router-link to="login">Log in now!</router-link></p>
         
            </div>

            <div v-if="isRegistrationSuccesful" class="c-card">
                <p>Registration was succesful. <router-link to="login">Now you can login.</router-link></p>
            </div>
            
		</div>
	</div>
</div>