<div class='grid-block align-center'>
	<div class="grid-block medium-6">
		<div class="grid-content">
			
			<!-- Login tab -->
			<div class="card card-section">
				<h2>Login</h2>
				<p>Here you can log in</p>
				<input type="text" placeholder="Type your name..." v-model="loginform__username">
				<input type="password" placeholder="Type your password..." v-model="loginform__password">
				<a href="#" class="button" v-on:click.prevent="loginUser">Login </a>
				<!--<a href="#" @click.stop="switchTab('signup')">...or sign up</a>-->
				<p>{{ errorMsg }}</p>
			</div>			
		</div>
	</div>
</div>