<div class='grid-block align-center'>
	<div class="grid-block grid-page-content align-center">
		<div class="grid-content grid-content--narrow">
			
			<div class="c-card">
				<h1>Login to Foobarbot</h1>
				<form action="" v-on:submit.prevent="loginUser">
					<label for="loginform__email">E-mail</label>
					<input type="text" placeholder="Type your email..." v-model="loginform__email" id="loginform__email">
					<label for="loginform__password">Password</label>
					<input type="password" placeholder="Type your password..." v-model="loginform__password" id="loginform__email">
					<p class="o-text--error">{{ errorMsg }}</p>
					<input type="submit" value="Login" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored c-button--flat">
				</form>
				<hr>
				<p>Not a member yet? <span class="o-text--block"><router-link to="/signup">Sign up now to get access to the Developer Preview!</router-link></span></p>
			</div>
		</div>
	</div>
</div>