<div>

	<!-- Hero cover -->
	<div class="c-hero-cover c-hero-cover--pull grid-block align-center">

		<!--Loaded user info-->
		<div class="c-hero-cover__profile-logo c-hero-cover__profile-logo--pulled grid-content">
			<h1 class="c-hero-cover__profile-logo-text c-hero-cover__profile-logo-text--large">Welcome to Foobarbot Developer Preview 1.1</h1>
			<h2 class="c-hero-cover__profile-logo-sub-text c-hero-cover__profile-logo-sub-text--large">Hows and whys about the app</h2>
		</div>
	</div>


	<!-- Page content -->
	<div class="grid-block align-center">
		<div class="grid-block grid-page-content">
			<div class="grid-content c-card c-card__section">
				<h1>Teach by learning</h1>
				<p>Foobarbot is a code snippet manager and code search engine created for developers. Users can create code snippets for later usage, share them with each other, or search for problems and find solutions across snippets uploaded by other users or find search results pulled from GitHub and Stack Overflow.</p>
				
				<p>The appplication is currently in developer preview state and is being tested by its developers.</p>

				<h2>Developer Preview 1.1</h2>
				<ul>
					<li>Snippets fetched from GitHub and starred by any user gets posted by Foobarbot</li>
					<li>Snackbar component improved</li>
					<li>Snippet and snippet list components introduced</li>
					<li>Pagenation: show more button on snippet lists</li>
					<li>TypeScript issues eliminated</li>
					<li>Minor bugfixes</li>
					<li>Cosmetic updates</li>
				</ul>

				<h2>Developer Preview 1.0</h2>
				<ul>
					<li>Users can register an account and log in.</li>
					<li>Users can create new snippets</li>
					<li>Users can star other snippets and display them on their profile</li>
					<li>Users can search and browse between snippets uploaded by others</li>
					<li>Users can search and browse between snippets fetched from GitHub Gists</li>
					<li>Users can update their profiles or delete their accounts.</li>
					<li>Users can simulate notifications</li>
				</ul>

				<h2>Product roadmap:</h2>
				<ul>
					<li>Organize your snippets into collections and create tutorials</li>
					<li>Refine search engine</li>
					<li>Implement Stack Overflow API</li>
					<li>Implement YouTube API</li>
					<li>Save snippets instantly with the Chrome extension</li>
					<li>Insert snippets instantly with Atom/Sublime packages</li>
				</ul>
				<h1>The crew</h1>
				<ul>
					<li>Gábor Pintér: Product design & full stack development</li>
					<li>Zoltán Fraknói: Back end development</li>
				</ul>
				<h1>Contact</h1>
				<p>You can find us on <a href="http://wtwitter.com/foobarbotapp" target="_blank">Twitter</a>.</p>
			</div>
		</div>
	</div>
</div>

