<div class="grid-block align-center">
	<div class="grid-block grid-page-content">
		<div class="grid-content">
			
            <h1>Discover</h1>

			<!--Snippets-->
			<!--<div class="grid-block">
				<div class="grid-content">
					<div class="card card-section">
						<h2>Snippets</h2>
						<ul>
							<li v-for="snippet in snippets">
								<p>Here is the id: <router-link :to="'/snippet/' + snippet.snippetId">{{ snippet.snippetId }}</router-link></p>
								<p>{{ snippet.snippetCode }}</p>
								<p> {{ snippet.tag1 }}, {{ snippet.tag2 }}, {{ snippet.tag3 }},</p>
								<p>{{ snippet.readme }}</p>
								<p>Author: <router-link :to="'/user/' + snippet.userId">{{ snippet.userId }}</router-link></p>
								<a href="#" v-on:click.prevent="starSnippet(snippet.snippetId)">Star it</a>
							</li>
						</ul>
					</div>
				</div>
			</div>-->

			<div class="grid-block">
				<div class="grid-content">
					<!--List of snippets-->
					<ul class="c-snippets">

						<li class="c-snippets__snippet" v-for="snippet in snippets">
								<!--Snippet code -->
								<pre>
									<code class="php">
{{ snippet.snippetCode }}
									</code>
								</pre>

								<!--Tags -->
								<ul>
									<li>{{ snippet.tag1 }}</li>
									<li>{{ snippet.tag2 }}</li>
									<li>{{ snippet.tag3 }}</li>
								</ul>		
					
								<span>by {{ snippet.userId }}</span>

						</li>

						<li class="c-snippets__snippet">
							<pre>
								<code class="php">
&lt;?php 
	echo "I like trains";
?&gt;
								</code>
							</pre>
							<!--Tags -->
							<ul>
								<li>PHP</li>
								<li>Hello World</li>
								<li>Test</li>
							</ul>
							<span>by Gabor</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>