<div class="grid-block align-center">
	<div class="grid-block grid-page-content">
		<div class="grid-content">
			
			<div class="grid-block" v-if="snippetDataStatus=='loading'">
				<div class="grid-content">
					<div class="grid-block align-center">
						<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
					</div>
				</div>
			</div>


			<div class="grid-block" v-show="snippetDataStatus=='loaded'">
				<div class="grid-content">
					<!--List of snippets-->
					<ul class="c-snippets">

						<li class="c-snippet" v-for="snippet in snippets">
							<!--Snippet code -->
							<pre><code class="php c-snippet__code">{{ snippet.snippetCode }}</code></pre>

							<div class="c-snippet__readme">

								<!--Readme meta-->
								<div class="c-snippet__readme-meta">
									<span><router-link :to="'/snippet/' + snippet.snippetId">#{{snippet.snippetId}}</router-link> in {{snippet.tag1}}, {{snippet.tag2}}, {{snippet.tag3}}</span>
									<span>by <router-link :to="'/user/' + snippet.userId">#{{ snippet.userId }}</router-link></span>
									<!--<a href="#" v-on:click.prevent="starSnippet(snippet.snippetId)">Star it</a>-->
								</div>

								<!--Readme text in markdown-->
								<div v-html="snippet.readme" class="c-snippet__readme-text"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>