<!--User-->
<div>

	<!-- Hero cover -->
	<div class="c-hero-cover c-hero-cover--with-navigation grid-block align-center">

		<!--Loaded user info-->
		<div class="c-hero-cover__profile-logo grid-content" v-if="userDataStatus=='loaded'">
			<div class="c-hero-cover__profile-logo-image" v-bind:class="{ 'c-hero-cover__profile-logo-image--foobarbot' : user.userId == 1479481497854175 }"></div>
			<h1 class="c-hero-cover__profile-logo-text">{{ user.userName }}</h1>
			<h2 class="c-hero-cover__profile-logo-sub-text">Copenhagen, Denmark</h2>
			<span>
				<i class="fa fa-twitter c-hero-cover__profile-logo-social fa-fw" aria-hidden="true"></i>
				<i class="fa fa-github c-hero-cover__profile-logo-social fa-fw" aria-hidden="true"></i>
			</span>
		</div>

		<!--Loading user info-->
		<div class="c-hero-cover__profile-logo grid-content" v-if="userDataStatus=='loading'">
			<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
		</div>
	</div>

	<!-- Navigation -->
	<div class="grid-block align-center c-hero-cover__navigation">
		<div class="grid-block grid-page-content align-justify">
			<!--Left navigation -->
			<div class="grid-block align-center">
				<!--Snippets-->
				<span class="c-hero-cover__navigation-item">
					<router-link to="snippets">
						<span class="secondary badge c-hero-cover__navigation-item-badge">2</span><span>Snippets</span>
					</router-link>
				</span>
				<span class="c-hero-cover__navigation-item">
					<router-link to="stars">
						<span class="secondary badge c-hero-cover__navigation-item-badge">4</span><span>Stars</span>
					</router-link>
				</span>
				<span class="c-hero-cover__navigation-item">
					<router-link to="comments">
						<span class="secondary badge c-hero-cover__navigation-item-badge">0</span><span>Comments</span>
					</router-link>
				</span>
			</div>
			
			<!--Right navigation -->
			<div>
				<!--<i class="fa fa-envelope c-nav-icon-button" aria-hidden="true" v-on:click="showInDevelopmentSnackbar('Copying code to clipboard')"></i>-->
				<!--<i class="fa fa-eye c-nav-icon-button" aria-hidden="true" v-on:click="showInDevelopmentSnackbar('Copying code to clipboard')"></i>-->
			</div>
		</div>
	</div>

	<!-- Page content -->
	<router-view></router-view>

</div>
