<!--Snippet-->
<div class="grid-block align-center">
	<div class="grid-block grid-page-content">
		<div class="grid-content">
			
			<!--Spinner-->
			<div class="grid-block" v-if="snippetDataStatus=='loading'">
				<div class="grid-content">
					<div class="grid-block align-center">
						<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
					</div>
				</div>
			</div>
			
			<!--Snippet-->
			<div class="c-snippet"  v-show="snippetDataStatus == 'loaded'">
				<!--Snippet code -->
				<pre><code class="php c-snippet__code">{{ snippet.snippetCode }}</code></pre>

				<div class="c-snippet__readme">

					<!--Readme meta-->
					<div class="c-snippet__readme-meta">
						<div class="c-snippet__readme-meta-title">
							<span><router-link :to="'/snippet/' + snippet.snippetId">#{{snippet.snippetId}}</router-link> in </span>
							<span class="mdl-chip">
								<span class="mdl-chip__text">
									{{snippet.tag1}}
								</span>
							</span>
							<span class="mdl-chip">
								<span class="mdl-chip__text">
									{{snippet.tag2}}
								</span>
							</span>
							<span class="mdl-chip">
								<span class="mdl-chip__text">
									{{snippet.tag3}}
								</span>
							</span>
						</div>
						<span>by <router-link :to="'/user/' + snippet.userId">#{{ snippet.userId }}</router-link></span>
						<!--<a href="#" v-on:click.prevent="starSnippet(snippet.snippetId)">Star it</a>-->
					</div>

					<!--Readme text in markdown-->
					<div v-html="snippet.readme" class="c-snippet__readme-text"></div>
				</div>
			</div>

			<div class="c-card c-card__section">
				<h1>Related</h1>
				<p>There are no related snippets.</p>
			</div>

			<p class="o-text--info">
				<span class="o-text--strong"><i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>There are no comments.</span> Soon you will be able to add your thoughts and remarks on snippets.
			</p>
		</div>
	</div>
</div>