<div>
    <pre><code class="php c-snippet__code c-snippet__code--condensed">{{ snippet.snippetCode }}</code></pre>
    <div class="c-snippet__readme">
        <div class="c-snippet__readme-meta">
            <div class="c-snippet__readme-meta-title">
                <span><router-link :to="'/snippet/' + snippet.snippetId">#{{snippet.snippetId}}</router-link> in </span>
                <span class="mdl-chip">
                    <span class="mdl-chip__text">
                        <router-link :to="'/search/' + snippet.tag1">{{snippet.tag1}}</router-link>
                    </span>
                </span>
                <span class="mdl-chip">
                    <span class="mdl-chip__text">
                        <router-link :to="'/search/' + snippet.tag2">{{snippet.tag2}}</router-link>
                    </span>
                </span>
                <span class="mdl-chip">
                    <span class="mdl-chip__text">
                        <router-link :to="'/search/' + snippet.tag3">{{snippet.tag3}}</router-link>
                    </span>
                </span>
                <span v-if="snippet.userUrl !== ''">by <router-link :to="'/user/' + snippet.userId">#{{ snippet.userId }}</router-link></span>
            </div>
            <div>
                <i class="fa fa-clipboard c-nav-icon-button" aria-hidden="true" v-on:click="sayHello(snippet.snippetId)"></i>
                <!--<i class="fa fa-clipboard c-nav-icon-button" aria-hidden="true" v-on:click="showInDevelopmentSnackbar('Copying code to clipboard')"></i>-->
                <i class="fa fa-star c-nav-icon-button" aria-hidden="true" v-on:click="starSnippet(snippet.snippetId, snippet)"></i>
                <i class="fa fa-expand c-nav-icon-button" aria-hidden="true" v-on:click="showInDevelopmentSnackbar('Expanding snippet view')"></i>
            </div>
        </div>
        <div v-html="snippet.readme" class="c-snippet__readme-text"></div>
    </div>
</div>