<div>
    <pre><code class="php c-snippet__code" v-bind:class="{'c-snippet__code--expanded' : isExpanded }">{{ snippet.snippetCode }}</code></pre>
    <div class="c-snippet__readme">
        <div class="c-snippet__readme-meta">
            <div class="c-snippet__readme-meta-title">
                <!--<span><router-link :to="'/snippet/' + snippet.snippetId">#{{snippet.snippetId}}</router-link> in </span>-->
                <span class="mdl-chip">
                    <span class="mdl-chip__text">
                        <router-link :to="'/search/' + snippet.tag1">{{snippet.tag1}}</router-link>
                    </span>
                </span>
                <span class="mdl-chip">
                    <span class="mdl-chip__text">
                        <router-link :to="'/search/' + snippet.tag2">{{snippet.tag2}}</router-link>
                    </span>
                </span>
                <span class="mdl-chip">
                    <span class="mdl-chip__text">
                        <router-link :to="'/search/' + snippet.tag3">{{snippet.tag3}}</router-link>
                    </span>
                </span>
                <span v-if="snippet.userUrl !== ''" class="c-snippet__author">by <router-link :to="'/user/' + snippet.userId">#{{ snippet.userId }}</router-link></span>
            </div>
            <div>
                <span class="c-nav-icon-button" v-on:click="copyCode()">
                    <i class="fa fa-fw fa-clipboard" aria-hidden="true" ></i> Copy
                </span>
                <span class="c-nav-icon-button" v-on:click="starSnippet(snippet.snippetId, snippet)">
                    <i class="fa fa-fw fa-star" aria-hidden="true"></i> Star
                </span>
                <router-link :to="'/snippet/' + snippet.snippetId" class="c-nav-icon-button" v-if="!snippet.vendor">
                    <i class="fa fa-fw fa-expand" aria-hidden="true"></i> View
                </router-link>
            </div>
        </div>
        <div v-html="snippet.readme" class="c-snippet__readme-text"></div>
    </div>
</div>