<!-- Navigation -->
<div class="menu-group menu-group--navbar">
	<div class="menu-group-left">
		<ul class="menu-bar">
			<li><a href="#">Project Lines</a></li>
			<li>
				<span class="inline-label">
					<input type="search" placeholder="Search a thing">
					<a href="#" class="button">Search</a>
				</span>
			</li>
		</ul>
	</div>
	<div class="menu-group-right">
		<!-- Right menu for user -->
		<ul class="menu-bar" v-if='isUserLoggedIn'>
			<li><a href="">Hello {{ userName }}</a></li>
			<li><router-link to="/settings">Settings</router-link></li>
		</ul>
		<!-- Right menu for visitor -->
		<ul class="menu-bar" v-if='!isUserLoggedIn'>
			<li><a href="#">About</a></li>
			<li><a href="#">Sign in</a></li>
			<li>
				<span class="inline-label" style='margin: 0;'>
					<a href="#" class='button'>Sign up</a>
				</span>
			</li>
		</ul>
	</div>
</div> 