<!-- Navigation -->
<div>
<div class="menu-group menu-group--navbar">
	<div class="menu-group-left">
		<ul class="menu-bar">
			<li><a href="#">Project Lines</a></li>
			<li>
				<span class="inline-label" style='margin: 0.25rem'>
					<input type="search" placeholder="Search a thing">
					<a href="#" class="button">Search</a>
				</span>
			</li>
		</ul>
	</div>
	<div class="menu-group-right">
		<!-- Right menu for user -->
		<ul class="menu-bar" v-if='isUserLoggedIn()'>
			<li><a href="">
				<span>Hello <span class='o-text--strong'>{{ user.name }}</span></span></a></li>
			<li><router-link to="/about">About</router-link></li>
			<li><router-link to="/settings">Settings</router-link></li>
			<li><a href="#" @click.stop="logout()">Logout</a></li>
		</ul>
		<!-- Right menu for visitor -->
		<ul class="menu-bar" v-if='!isUserLoggedIn()'>
			<li><router-link to="/about">About</router-link></li>
			<li><router-link to="/login">Log in</router-link></li>
		<!-- 	<li>
				<span class="inline-label" style='margin: 0;'>
					<a href="#" class='button'>Sign up</a>
				</span>
			</li> -->
		</ul>
	</div>
</div>
<div class="title-bar" v-if="!isUserLoggedIn()">
	<div class="title center">Project Lines is place to share code. <router-link to="/login">Please log in or sign up.</router-link></div>
</div>
</div>