<footer>
    <div class="grid-block align-center">
        <div class="grid-block grid-page-content footer">
            <div class="grid-block">
                <p class="footer__text">Foobarbot</p>
            </div>
            <div class="grid-block align-right">
                <p class="footer__text">Tweet us</p>
            </div>
        </div>
    </div>

     <!--<div class="grid-block align-center">
        <div class="grid-content grid-page-content footer">
            <span class="footer__text o-text--block">
               Love or hate? 
               <a class="footer__text footer__text--link" target="_blank" href="https://twitter.com/intent/tweet?screen_name=foobarbotapp">Tweet us your feedback @foobarbotapp!</a>
            </span>
            <span class="footer__text o-text--block">Foobarbot - 2016</span>
            <span class="footer__text">Copenhagen</span>
        </div>
    </div>-->


</footer>