<footer>
    <div class="grid-block">
        <div class="grid-content footer">
            <span class="footer__text o-text--block">
               Love or hate? 
               <a class="footer__text footer__text--link" target="_blank" href="https://twitter.com/intent/tweet?screen_name=foobarbotapp">Tweet us your feedback @foobarbotapp!</a>
            </span>
            <span class="footer__text o-text--block">Foobarbot - 2016</span>
            <span class="footer__text">Copenhagen</span>
        </div>
    </div>
</footer>