body {
	font-family: 'Roboto', sans-serif;
	background-color: #fafafa;
}

h1 {
	font-size: 1.5rem;
	color: $font-color;
	font-family: 'Noto Sans', sans-serif;
}

p {
	font-family: 'Noto Sans', sans-serif;
}