.c-compose-modal {
    min-width: $page-content-width;
    padding: 0rem;
    box-shadow: none;
    border: 1px solid $border-color;
    border-radius: 4px;
    overflow: hidden;
}

.c-compose-modal__mask {
    background-color: rgba(0,0,0, .8);
}

.c-compose-modal__code {
    width: 100%;
    border-radius: 4px;
    min-height: 20rem;
    background-color: #282c34;
    color: $menu-font-color;
    padding: 1.5rem;
    margin-bottom: 0rem;
}

.c-compose-modal__code:hover, .c-compose-modal__code:focus {
    background-color: lighten(#282c34, 5%);
    color: $menu-font-color;
}

.c-compose-modal__tag {
    display: inline !important;
    background-color: $secondary-color-background !important;
    color: $secondary-color !important;
    border-radius: 50px !important;
    margin-right: 1rem;
    width: 7.5rem !important;
    border: none !important;
    padding: 1rem !important;
    font-weight: bold !important;
    margin: .5rem !important;
}

.c-compose-modal__tag::-webkit-input-placeholder {
    color: $secondary-color !important;
    font-weight: normal !important;
    font-style: italic !important;
}

.c-compose-modal__readme, .c-compose-modal__readme:hover, .c-compose-modal__readme:focus, .c-compose-modal__readme:active {
    background-color: #fff;
    color: $font-color;
    height: 4.5rem;
    border: none;
    padding: 1.5rem;
    margin-bottom: 0rem;
}

.c-compose-modal__controls {
    margin-top: 1rem;
    position: absolute;
    width: 100vh;
}

.c-compose-modal__button, .c-compose-modal__button:hover {
    background-color: #eee;
    margin-left: .25rem;
    margin-right: .25rem;
}

.c-compose-modal__button--primary {
    background-color: $primary-color;
    color: #fff;
}