.c-nav-icon-button {
    color: $raw-text-color;
    /*background-color: $navbar-background-color;*/
    padding: 0rem;
    margin-right: .5rem;
    margin-left: 1rem;
    border-radius: 50%;
}

.c-nav-icon-button:hover {
    color: $primary-color;
    /*background-color: $primary-color;*/
    cursor: pointer;
}