.mdl-chip {
    background-color: $primary-color-background;
    color: $primary-color;
    height: auto;
    border-radius: 3px;
    line-height: 16px;
    padding: .3rem .5rem;
    /*background-color: $secondary-color;
    color: #fff;*/
}

.mdl-chip:hover {
    background-color: $primary-color;
    cursor: pointer;
}

.mdl-chip:hover .mdl-chip__text {
    color: #fff;
}

.mdl-chip a {
    color: inherit;
}