.footer {
    text-align: center;
}

.footer__text {
    font-size: .8rem;
    color: #888;
    line-height: 1.2rem;
}

.footer__text--link {
    color: #888;
    text-decoration: underline;
}

.footer__link:hover {
    color: #00558b;
}