.c-button {
    background-color: $primary-color;
    text-transform: uppercase;
    font-size: .9rem;
    color: #fff;
    padding: .5rem;
    font-weight: 500;
    border: none;
    box-shadow: none;
}

.c-button--transparent {
    background-color: transparent;
    font-weight: bold;
    color: $primary-color;
}

.c-button--search {
    background: $primary-color;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.c-button--fullwidth {
    width: 100%;
}

.c-button--flat {
    box-shadow: none;
}

.c-button--danger {
    background-color: $danger-color;
    color: #fff;
}

/*Foundation*/
.button {
    background: $primary-color;
}

/* MDL button*/
.mdl-button--raised.mdl-button--colored, .mdl-button--raised.mdl-button--colored:hover {
    background-color: $primary-color;
}

