$primary-color: #3F51B5;
/*$primary-color: #3F51B5;*/

// Info
$secondary-color: #00796B;
$secondary-color-background: #E0F2F1;
$secondary-color-border: #B2DFDB;

$danger-color: #F44336;


$menu-font-color: #78909c;
$font-color: #263238;
$border-color: #ddd;
$navbar-background-color: #eceff1;