//Playful = Blue + Light green
/*$primary-color: #2196F3;
$secondary-color: #689F38;
$secondary-color-background: #F1F8E9;
$secondary-color-border: #DCEDC8;*/

// Foobarbot = Indigo + teal
$primary-color: #3F51B5;
$secondary-color: #00796B;
$secondary-color-background: #E0F2F1;
$secondary-color-border: #B2DFDB;

// Modern playful = Teal + amber
/*$primary-color: #2196F3;
$secondary-color: #FBC02D;
$secondary-color-background: #FFFDE7;
$secondary-color-border: #FFF9C4;*/

$danger-color: #F44336;


$menu-font-color: #78909c;
$font-color: #263238;
$border-color: #ddd;
$navbar-background-color: #eceff1;