<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Project Lines</title>

	<!-- Foundation for Apps - temporary -->
	<link rel="stylesheet" type="text/css" href="css/libs.css">

	<!-- App css -->
	<link rel="stylesheet" type="text/css" href="css/app.css">

	<!-- Vendor js -->
	<script src="js/libs.js"></script>

</head>
<body>
	<div id="app">

		<!-- Navigation -->
		<div class="menu-group menu-group--navbar">
			<div class="menu-group-left">
				<ul class="menu-bar">
					<li><a href="#">Project Lines</a></li>
				</ul>
			</div>
			<div class="menu-group-right">
				<ul class="menu-bar">
					<li><router-link to="/login">Login</router-link></li>
					<li><router-link to="/settings">Settings</router-link></li>
				</ul>
			</div>
		</div>		 	    

		<!-- App content -->
		<div class="grid-content">
			
			<!-- Page content -->
			<h1>Current component</h1>
		 	<router-view></router-view>

			<h2>Load all users</h2>
		 	<div class='grid-block grid-content'>
				<a href="#" class="button" @click.stop="loadUsers">Load users</a>
				<a href="#" class="button" @click.stop="resetUsers">Reset users</a>
			</div>

			<h2>Login to create a json web token</h2>
			<p>Correct credentials are 'admin' & 'admin'</p>

			<div class='grid-block grid-content'>
				<input type="text" placeholder="Type your name..." v-model="myusername">
				<input type="password" placeholder="Type your password..." v-model="mypassword">
				<a href="#" class="button" @click.stop="loginUser">Login as {{ myusername }} with {{ mypassword }} </a>
				<a href="#" class="button" @click.stop="logoutUser">Logout</a>
			</div>


			<!-- Vuejs debug data -->
		 	<h1>Vuejs debug data</h1>
		 	<pre>{{ $data }}</pre>
	 	</div>
	</div>

	<!-- App js -->
	<script src="js/app.js"></script>
</body>
</html>