<div class="grid-block">
	<div class="grid-content">
		<h1>Welcome to Foobarbot Developer Preview</h1>
		<p>Project Lines is a single page application written in NodeJs and VueJs.</p>
		<p>Roadmap:</p>
		<ul>
			<li>Save and organize your code snippets and templates</li>
			<li>Browse between templates created by other developers</li>
			<li>Create collections, tutorials</li>
			<li>Read tutorials created by the community</li>
			<li>Save snippets instantly with the Chrome extension</li>
			<li>Insert snippets instantly with Atom/Sublime packages</li>
		</ul>
		<h2>Here is an API call:</h2>
		<p>You should only be able to fetch data when you are logged in:</p>
		<a href="" class="button" v-on:click.prevent="loadUsers">Load users</a>
		<a href="" class="button" v-on:click.prevent="resetUsers">Reset users</a>
		<div class="grid-block">
			<div class="grid-content">
				<div class="card card-section">
					<h2>Users</h2>
					<p>No users have been loaded.</p>
					<p> {{ errorMsg }} </p>
					<ul>
						<li v-for="user in users">{{ user.userName }} - <router-link :to="'/user/' + user.userId">Profile</router-link></li>
					</ul>
				</div>
			</div>
		</div>
	 </div>
</div>